.btn {
  // border-radius: 50px !important;
  // padding: 0.75rem 1.25rem;

  &-circle {
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px !important;
  }

  &-default {
    background: $lightest;
    border: 1px solid #ddd;
    // background: $primary;
    // border-color: $primary;
  }

  &-danger {
    &.disabled {
      background: $pink;
      opacity: 1;
      border: none;
    }
  }

  &-outline-primary {
    background: #fff;
  }
}

.btn-toolbar {
  .btn {
    min-width: 160px;
    margin-right: 10px;

    &-circle {
      min-width: 0;
    }
  }
}

.nav-pills {
  .btn {
    font-size: 0.9rem;
  }

  .nav-link {
    // border-radius: 50px;
    background: lighten($red, 15);
    color: #fff;
    // margin-right: 10px;

    &.active {
      // background: $red;
    }

    &:focus {
      background: $red;
    }
  }
}
