/* stylelint-disable no-duplicate-selectors */
.btn {
  border-radius: 50px;
  padding: 0.5rem 1.25rem;

  &-circle {
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px !important;
  }

  &-default {
    background: $lightest;
    border: 1px solid #ddd;
    // background: $primary;
    // border-color: $primary;
  }

  &-danger {
    &.disabled {
      background: $pink;
      opacity: 1;
      border: none;
    }
  }

  &-primary {
    border-color: $blue;
    background: $blue;

    &:hover,
    &:focus {
      background: darken($blue, 10);
    }
  }

  &-outline-primary {
    border-color: $blue;
    color: $blue;
    background: #fff;

    &:hover,
    &:focus {
      background: darken($blue, 10);
    }
  }

  &-lg {
    font-size: 1.2rem;
  }
}

.btn-toolbar {
  .btn {
    min-width: 160px;
    margin-right: 10px;

    &-circle {
      min-width: 0;
    }
  }
}

.dropdown-menu {
  .btn {
    text-align: left;

    i {
      margin-right: 5px;
    }
  }
}

.nav-pills {
  .btn {
    font-size: 0.9rem;
  }

  .btn {
    border-radius: 50px;
    background: lighten($red, 15);
    color: #fff;
    // margin-right: 10px;

    &.active {
      // background: $red;
    }

    &:focus {
      background: $red;
    }
  }
}
