.btn {
  // border-radius: 50px !important;
  padding: 0.75rem 1.25rem;

  &-circle {
    padding: 0.375rem 0.75rem;
  }

  &-danger {
    &.disabled {
      background: $pink;
      opacity: 1;
      border: none;
    }
  }
}

.btn-toolbar {
  .btn {
    min-width: 160px;
    margin-right: 10px;

    &-circle {
      min-width: 0;
    }
  }
}

.nav-pills {
  .nav-link {
    border-radius: 50px;
    background: $pink;
    color: #fff;
    margin-right: 10px;

    &.active {
      background: $red;
    }
  }
}
