/* stylelint-disable no-descending-specificity */

.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $closed_width;

  // @include easing();

  h3 {
    font-size: 1.25rem;
    margin: 10px auto;
  }

  @include media-breakpoint-down(md) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
  }

  .sidebar-toggle {
    position: absolute;
    bottom: 50px;
    right: -40px;
    z-index: 2;
    transform: rotate(0);

    // @include easing();
  }

  .main-toolbar {
    background: #000;
    width: 60px;
  }

  &-inner {
    opacity: 0;
    // width: 100%;
    position: relative;
    width: 0;
    overflow: scroll;

    // @include fast_easing();
  }

  &.active {
    width: $open_width;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    .sidebar-toggle {
      transform: rotate(180deg);
      right: -20px;
    }

    .main-sidebar-inner {
      width: 220px;
      opacity: 1;
      transition-delay: 0.25s;
    }
  }

  .sb-logo {
    img {
      display: block;
      width: 100%;
      padding: 20px;
    }
  }

  ul {
    width: 100%;
  }

  .btn-toggle {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 0.375rem 0.75rem 0.375rem 0;
  }

  .radio-btn {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .nav-item {
    .nav-link {
      color: #fff;
    }
  }

  .sub-menu {
    li {
      a {
        padding: 0.15rem 0 0.15rem 40px;
        text-decoration: none;
        font-size: 0.9rem;
        display: block;
      }
    }
  }

  .link-light {
    font-size: 1.2rem;
    position: relative;
    color: #fff;

    i {
      position: relative;
    }
  }

  .loan-search {
    margin: 20px auto;
    width: 100%;
  }

  .search-form {
    margin: 0 auto 20px;
    width: 100%;

    label {
      width: 100%;
    }

    .search-field {
      @extend .form-control;
    }

    .search-submit {
      display: none;
    }
  }
}

.user-link {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  background: $red;

  img {
    width: 100%;
  }

  &::after {
    display: none;
  }
}

.dropdown-group {
  .dropdown-toggler {
    color: #fff;
    background: none;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;

    i {
      font-size: 0.8rem;
      margin-right: 7px;
    }
  }

  .card {
    background: none;
    border: none;
    padding: 0;
  }
}

.side-nav {
  list-style: none;
  padding: 0;

  .radio-btn {
    border: none;

    label {
      background: none;
      text-align: left;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;

      i {
        font-size: 0.8rem;
        margin-right: 7px;
      }

      &.active {
        background: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.bottom-nav {
  text-align: center;

  &-item {
    color: #fff;
    margin: 0 auto 20px;
    display: block;
    font-size: 28px;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
}
