.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $closed_width;

  @include easing();

  .sidebar-toggle {
    position: absolute;
    bottom: 20px;
    right: -25px;
    z-index: 2;
    transform: rotate(0);

    @include easing();
  }

  &-inner {
    opacity: 0;
    // width: 100%;
    position: relative;
    width: 0;
    overflow: hidden;

    // @include fast_easing();
  }

  &.active {
    width: $open_width;

    .sidebar-toggle {
      transform: rotate(180deg);
    }

    .main-sidebar-inner {
      width: $open_width;
      opacity: 1;
      transition-delay: 0.25s;
    }
  }

  .sb-logo {
    img {
      display: block;
      width: 100%;
      padding: 20px;
    }
  }

  .sub-menu {
    li {
      a {
        padding: 0.15rem 0 0.15rem 40px;
        text-decoration: none;
        font-size: 0.9rem;
        display: block;
      }
    }
  }

  .link-light {
    font-size: 1.2rem;
    position: relative;
    color: #fff;

    i {
      position: relative;
    }
  }

  .loan-search {
    margin: 20px auto;
    width: 100%;
  }

  .search-form {
    margin: 0 auto 20px;
    width: 100%;

    label {
      width: 100%;
    }

    .search-field {
      @extend .form-control;
    }

    .search-submit {
      display: none;
    }
  }
}
